{% extends "layout.html" %} {% block content %}

<div class="card mb-4">
  <div class="card-body">
    <p>
      <b>Auto Summarization</b> adalah aplikasi sederhana berbasis web yang
      berguna untuk membuat ringkasan pada suatu dokumen. Bahasa pemrograman
      yang digunakan adalah Python. Beberapa library pendukung yang digunakan
      adalah flask, nltk, docx2txt, dan sebagainya.
    </p>
  </div>
</div>

{% endblock content %} {% block sidebar %}
<p><b>Anggota</b></p>

<ul class="list-group list-group-flush">
  <li class="list-group-item">
    Rizky Ramadhan <span class="badge badge-success">17102044</span>
  </li>

  <li class="list-group-item">
    Setiana Pangestuti <span class="badge badge-success">17102069</span>
  </li>
</ul>
{% endblock sidebar %}
