<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Auto Summarization</title>
    {% endif %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
      <div class="container">
        <a class="navbar-brand" href="/">Auto Summarization</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/about">About</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          {% block content %} {% endblock %}
        </div>

        <div class="col-sm-12 col-md-6">
          <div class="card">
            <div class="card-body">
              {% block sidebar %} {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
